SERVER_ENV=production
CLIENT_URL=https://cs4550.shubhthorat.com
SERVER_URL=your-render-host.onrender.com
SESSION_SECRET=change-me
DATABASE_CONNECTION_STRING=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/kambaz?retryWrites=true&w=majority&appName=Kambaz
